<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [2]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [3]:
file_nested_list = []
with open(DATA_FILE) as tsvfile:
    f = csv.reader(tsvfile, delimiter='\t')
    for row in f:
        file_nested_list.append(row)

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [4]:
type(file_nested_list)

list

In [5]:
header = file_nested_list[0]
data = file_nested_list[1:]
len(data)

for row in data:
    row[1] = float(row[1])
    row[0] = float(row[0])
    
len(data)

4622

In [6]:
#building a dictionary out of the data to make it easier to work with
chipotle_data = {}
for index, column in enumerate(header):
    chipotle_data[column] = []
    for row in data:
        chipotle_data[column].append(row[index])

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [7]:
import numpy as np
quantity_data = [row[1] for row in data]
quantity_data.count('1') 
#4355 out of 4622 total entries have a quantity = 1 (95%).  We may be able to ignore...
# but quantity >1 means someone bought mulitple items, so their total order price is item price * quantity

price_data = [row[4] for row in data]


#turn all prices & quantities into floats
price_data = [x.replace('$', '') for x in price_data]
price_data = [float(x) for x in price_data]
quantity_data = [float(x) for x in quantity_data]

#create new list of total order prices, which = item price * quantity
order_prices_tot = np.array(quantity_data) * np.array(price_data)

#looking at the data, there are >1 lines per order_id (one row per item), so we want total order count to only be unique order ids

order_ids = [row[0] for row in data]
order_ids = set(order_ids)
len(order_ids)

1834

In [8]:
avg_order_price = sum(order_prices_tot)/len(order_ids)
avg_order_price

21.3942311886587

V2: Using the dictionary we built above:

In [9]:
chipotle_data['quantity'] = [float(x) for x in chipotle_data['quantity']]
chipotle_data['item_price'] = [x.replace('$', '') for x in chipotle_data['item_price']]
chipotle_data['item_price'] = [float(x) for x in chipotle_data['item_price']]

In [10]:
#add a new dictionary element for order item price

chipotle_data['total_order_item_cost'] = []
for i in range(0, len(data)):
    chipotle_data['total_order_item_cost'].append(chipotle_data['item_price'][i] * chipotle_data['quantity'][i])

order_average = sum(chipotle_data['total_order_item_cost'])/len(set(chipotle_data['order_id']))
order_average

21.3942311886587

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [11]:
unique_sodas = []

for row in data:
    if (row[2] == 'Canned Soda') or (row[2] == 'Canned Soft Drink'):
        unique_sodas.append(row[3])

unique_sodas = set(unique_sodas)

In [12]:
unique_sodas

{'[Coca Cola]',
 '[Coke]',
 '[Diet Coke]',
 '[Diet Dr. Pepper]',
 '[Dr. Pepper]',
 '[Lemonade]',
 '[Mountain Dew]',
 '[Nestea]',
 '[Sprite]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [13]:
#build list of all order toppings, each list item is one burrito order
burrito_order_toppings = []

for row in data:
    if row[2].find('Burrito') != -1:
        burrito_order_toppings.append(row[3])

In [14]:
# build a list of all topping counts
burrito_topping_counts = []

for i in range(0,len(burrito_order_toppings)):
    burrito_topping_counts.append(len(burrito_order_toppings[i].split(',')))

In [15]:
# average 

average_toppings = sum(burrito_topping_counts)/len(burrito_topping_counts)
average_toppings

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [16]:
#Build set of unique chip types
chips = [s for s in list(set(chipotle_data['item_name'])) if 'Chips' in s]

chip_orders = {}

#add up item counts of each chip type into dictionary entry
for i in chips:
    chip_orders[i] = 0
    for row in data:
        if row[2] == i:
            chip_orders[i] += row[1]
chip_orders

{'Chips': 230.0,
 'Chips and Fresh Tomato Salsa': 130.0,
 'Chips and Guacamole': 506.0,
 'Chips and Mild Fresh Tomato Salsa': 1.0,
 'Chips and Roasted Chili Corn Salsa': 23.0,
 'Chips and Roasted Chili-Corn Salsa': 18.0,
 'Chips and Tomatillo Green Chili Salsa': 45.0,
 'Chips and Tomatillo Red Chili Salsa': 50.0,
 'Chips and Tomatillo-Green Chili Salsa': 33.0,
 'Chips and Tomatillo-Red Chili Salsa': 25.0,
 'Side of Chips': 110.0}

In [17]:
[s for s in list(set(chipotle_data['item_name'])) if 'Chips' in s]

['Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Chips and Guacamole',
 'Chips and Roasted Chili Corn Salsa',
 'Side of Chips',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Fresh Tomato Salsa',
 'Chips and Tomatillo-Green Chili Salsa']

In [18]:
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!